<br/><br/>
<div class="container-fluid">
<div class="row">
<div class="col-lg-4" >
<div class="form-group">
<div class="card bg-light mb-3" style="text-align: center; max-width: 18rem; border-radius: 25px" >
	<img src="images/blank.png" class="card-img-top" >
	<h1><%= name %></h1>
	<p><%= email %></p>
	<p><%= occupation %></p>
	<P><%= address %></P>
	<P><%= phone %></P>
	<p><a href="dashboard"><i class="fas fa-address-book"></i></a> 
	<a href="dashboard"><i class="fab fa-facebook-f"></i></a>
	<a href="dashboard"><i class="fab fa-linkedin"></i></a></p>
	<br/>
</div>
<a href="/logout" class="btn btn-info">Logout</a>
</div>
</div>
</div>
</div>